
<div class="row">
    <div class="col-md-2">
      <ul>
        <li><button (click)="googleSet()" >Google</button></li>
        <li><button (click)="kibanaSet()">kibana</button></li></ul>
       
       
    </div>
    <div class="col-md-10">
      <div *ngIf="isKibana">
        <app-kibana></app-kibana>
      </div>
      <div *ngIf="isGoogle">
        <app-google></app-google>
        <!-- <a href="google">google</a> -->

      </div>
    </div>
</div>
<!-- <a href="google">google</a><br>
<a href="kibana">kibana</a> -->
      